<mat-toolbar color="blue">
    @if (isLogIn) {
      <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
    }
    <span>{{title}}</span>
    <span class="spacer"></span>
    <div>{{userName}}</div>
    @if (isLogIn) {
      <button (click)="logout()" mat-button>Log out</button>
    }
</mat-toolbar>

<mat-drawer-container class="top-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
        <div class="row mb-2">
            <button routerLink="pos-dashboard" (click)="drawer.toggle()" mat-button>POS Dashboard</button>
        </div>
        <div class="row mb-2">
            <button routerLink="product-add" (click)="drawer.toggle()" mat-button>Product</button>
        </div>
        <div class="row mb-2">
            <ng-container *ngIf="userRole === 'Admin'">
                <button routerLink="logindetails" (click)="drawer.toggle()" mat-button>Login Details</button>
            </ng-container>

        </div>
        <div class="row mb-2">
            <ng-container *ngIf="userRole === 'Admin'">
                <button routerLink="report" (click)="drawer.toggle()" mat-button>Reports</button>
            </ng-container>

        </div>
    </mat-drawer>

    <div class="sidenav-content">
        <router-outlet />
    </div>

</mat-drawer-container>
