.top-container {
    height: 100%;
    
}

.sidenav-content {
    height: 100%;
    background-color: #c1b0df;
}

.sidenav {
    padding: 20px;
    background-color: #c1b0df;
}

.spacer {
    flex: 1 1 auto;
}