
<div class="parent">
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="Name" placeholder="Username"  [(ngModel)]="signupObj.Name" required="">
					<input type="email" name="Email"  placeholder="Email"  [(ngModel)]="signupObj.Email" required="">
					<input type="password" name="Password"  [(ngModel)]="signupObj.Password" placeholder="Password" required="">
					<button  (click)="onSignup()" >Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="Email"  [(ngModel)]="loginObj.Email" placeholder="Email" required="">
					<input type="password" name="Password" [(ngModel)]="loginObj.Password"  placeholder="Password" required="">
					<button (click)="onLogin()" >Login</button>
				</form>
			</div>
	</div>
</div>
