<div class="wrapper" (click)="addToCart()">
  <div class="row">
    <img [src]="item.image" width="100%">
  </div>
  <div class="row text-center fw-bold">
    <span>{{item.name}}</span>
  </div>
  <div class="row text-center">
    <span [ngClass]="{'text-decoration-line-through': item.discount != 0 && item.discount != null}">{{item.price | currency:'Rs. ':'symbol'}}</span>
    @if (item.discount != 0 && item.discount != null) {
      <span>{{item.price - item.price*item.discount | currency:'Rs. ':'symbol'}}</span>
    }
  </div>
</div>
