<div>
  <!-- <p>Cart </p> -->
  <p>Order No: {{cartDataService.billOrderNo}} </p>
</div>

<div class="cart-items overflow-auto h-50">
  @for (item of cartDataService.cart; track $index) {
    <mat-card appearance="outlined" class="mb-2">
      <mat-card-content>
        <div class="align-items-md-center d-flex row">

          <div class="col-2">
            <img class="rounded-item" [src]="item.image" width="100%">
          </div>

          <div class="col-8">
            <div class="row">
              <div class="col-4"><span class="fw-bold">{{item.name}}</span></div>
              <div class="col d-flex justify-content-end">
                <span [ngClass]="{'text-decoration-line-through': item.discount != 0 && item.discount != null}">{{item.price | currency:'Rs. ':'symbol'}}</span> &nbsp; &nbsp;
                @if (item.discount != 0 && item.discount != null) {
                  <span class="">{{item.discountedPrice | currency:'Rs. ':'symbol'}}</span>
                }
              </div>
            </div>
            <div class="row"><span>Quantity - {{item.quantity}} | Discount - {{item.discount | percent}}</span>
            </div>
          </div>

          <div class="col-2">
              <button mat-icon-button  (click)="cartDataService.passToRemoveFromCart(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  }
</div>

@if (cartDataService.cart.length != 0) {
  <div class="tot mt-3">
    <div class="row">
      <div class="col-8">Fee</div>
      <div class="col-4 text-end">{{cartDataService.cartFee | currency:'Rs. ':'symbol'}}</div>
    </div>
    <div class="row">
      <div class="col-8">Total</div>
      <div class="col-4 text-end">{{cartDataService.cartTotal | currency:'Rs. ':'symbol'}}</div>
    </div>
  </div>
}

<div class="cal mt-5 h-25 row">
  <div class="col">
    <button mat-flat-button class=" w-100 h-25" (click)="letsPay()">Payment</button>
  </div>
  <div class="col">
    <button mat-flat-button class="w-100 h-25" (click)="printKOT()">Print KOT</button>
  </div>
</div>

